[IRC]
server="irc.freenode.net"
port=6667
UseTLS=false
SkipTLSVerify=true
nick="matterbot"
UseSlackCircumfix=false
#NickServNick="nickserv"
#NickServPassword="secret"
RemoteNickFormat="<{NICK}> "
IgnoreNicks="ircspammer1 ircspammer2"

[mattermost]
server="yourmattermostserver.domain"
#certificate check by default
SkipTLSVerify=false
#https by default
NoTLS=false
team="yourteam"
#login/pass of your bot
login="yourlogin"
password="yourpass"
showjoinpart=true
#token=yourtokenfrommattermost
PrefixMessagesWithNick=false
NickFormatter=plain
NicksPerRow=4
RemoteNickFormat="[irc] <{NICK}>"
IgnoreNicks="mmbot spammer2"

[general]
GiphyAPIKey=dc6zaTOxFJmzC

#channel config
[channel "our testing channel"]
irc="#bottesting"
mattermost="testing"

[channel "random channel"]
irc="#random"
mattermost="random"
